@import './normalize.css';
@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/preview/preview.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-hover: #5028C6;
    --blue: #374FC7;
    --blue-hover: #2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #212429;
    --grey-bg: #f9fafc;
    --purple-2: #4263EB;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
    --primary-text: var(--grey-5);
    --primary-bg:var(--white);
    --secondary-bg:var(--grey-bg)
}

* {
    font-family: 'Roboto', sans-serif;
}
